option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: HomeFinderBackend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: HomeFinderBackend.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_migrations:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"